<!DOCTYPE html>
<html>
    <head>
        <title>BTRS - Add Counter Staff</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    </head>
    <body>
        <%- include('../../layouts/header', {logged:logged}) %>
        <table class="main">
            <tbody>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <table style="width:100%; margin-bottom: 10px;">
                            <tr>
                                <td><h3 style="margin:0">Add Counter Staff</h3></td>
                                <td style="width:15%; text-align:right">[ <a href="/system/counterstaff">Cancel</a> ]</td>
                            </tr>
                        </table>

                        <form method="get">
                            <table class="form">
                                <tr>
                                    <td>Operator</td><td>:</td><td>
                                        <select name="operator">
                                            <option value="">Select Bus Operator</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Counter</td><td>:</td><td>
                                        <select name="operator">
                                            <option value="">Select Bus Operator First</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Name</td><td>:</td><td><input type="text" name="name" placeholder="Enter full name"></td>
                                </tr>
                                <tr>
                                    <td>Email</td><td>:</td><td><input type="email" name="email" placeholder="Enter email address"></td>
                                </tr>
                                <tr>
                                    <td>Password</td><td>:</td><td><input type="password" name="password" placeholder="Enter a new password"></td>
                                </tr>
                                <tr>
                                    <td>Re-Type Password</td><td>:</td><td><input type="password" name="repassword" placeholder="Retype the new password"></td>
                                </tr>
                                <tr>
                                    <td></td><td></td><td><input type="submit" value="Add Staff"></td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>