<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Bus Ticket Reservation System</title>
        <!-- Bootstrap core CSS-->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="/assets/css/sb-admin.css" rel="stylesheet">
    </head>
    <body class="bg-dark">
        <div class="wrapper">
            <section class="hero">
              <header class="bg-light">
                <div class="container">
                  <nav class="navbar navbar-light">
                    <a href="#" class="navbar-brand mb-0">BTRS</a>
                    <div id="headerNav">
                      <ul class="nav navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Search</a>
                        </li>
          
                        <li class="nav-item">
                          <a class="nav-link" href="/printverify">Print/Verify</a>
                        </li>
          
                        <li class="nav-item">
                          <a class="nav-link" href="/cancel">Cancel</a>
                        </li>
                        
                        <li class="nav-item active">
                          <a class="nav-link" href="/supportticket">Support Ticket</a>
                        </li>
          
                        <li class="nav-item">
                          <a class="nav-link" href="/login">Login</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </header>
            </section>
          
            <section id="sec-about" class="sec-about pt-5 pb-5">
              <div class="container">
                    <div class="card mb-4">
						<div class="card-header">
                            Subject
                            <span class="badge badge-success">Open</span>
                            <span class="badge badge-danger">Closed</span>
                            <a href="/supportticket/close/1" class="btn btn-primary btn-sm pull-right">Close</a>
                            <a href="/supportticket/open/1" class="btn btn-success btn-sm pull-right">Re-Open</a>
						</div>
						<div class="card-body">
                            <span class="text-primary">M. Rashedul Islam</span><br>
                            <span class="text-secondary">01780851370</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum neque sed arcu dignissim, eu feugiat ligula maximus. Vestibulum finibus vulputate sodales. Aenean dictum faucibus ex et tincidunt. Suspendisse porttitor ipsum sodales vehicula mollis. Mauris vestibulum consectetur nunc et posuere. Vivamus ac dui id tortor tincidunt tristique. Etiam ultrices enim nulla, in finibus purus congue euismod. Sed non metus enim. Phasellus iaculis vitae leo eu tincidunt. Cras bibendum tempus ante, in maximus magna eleifend ac. Curabitur dapibus tortor quis tellus maximus commodo.  
                            </p>
						</div>
                    </div>
                    
                    <div class="card mb-4">
						<div class="card-header">
                            <span class="text-primary">Mr. Anik</span>
						</div>
						<div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum neque sed arcu dignissim, eu feugiat ligula maximus. Vestibulum finibus vulputate sodales. Aenean dictum faucibus ex et tincidunt. Suspendisse porttitor ipsum sodales vehicula mollis. Mauris vestibulum consectetur nunc et posuere. Vivamus ac dui id tortor tincidunt tristique. Etiam ultrices enim nulla, in finibus purus congue euismod. Sed non metus enim. Phasellus iaculis vitae leo eu tincidunt. Cras bibendum tempus ante, in maximus magna eleifend ac. Curabitur dapibus tortor quis tellus maximus commodo.  
                            </p>
						</div>
                    </div>
                    
                    <div class="card bdr-dgray">
						<div class="card-body bg-dgray">
                            <form>
                                <div class="form-row align-items-start">
                                    <div class="col-sm-10">
                                    <textarea class="form-control"></textarea>
                                    </div>
                                    <div class="col-sm-2 my-0">
                                      <button type="submit" class="btn btn-primary w-100">Replay</button>
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
              </div>
            </section>
          </div>
    </body>
</html>
